<!-- Sidebar/menu -->
<navigation></navigation>
<!-- !PAGE CONTENT! -->
<div class="main container" ng-controller="datingCtrl">
  <div class="about-title w3-center">
    <h1 class="w3-center w3-padding">About Us</h1>
    <img src="images/shape.png">
  </div>
  <div class="w3-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p class="">Locator app was created by Thangbm and Thend, two UET students with passion and knowledge.</p>
      <p>Thank you for visiting this site and trust our services.</p>
      <p>If you find something inconvenient or you want to contribute something, please don't hesitate to contact us!</p>
      <img style="padding-top:30px; padding-bottom:25px;" src="images/shape.png">
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
