<navigation></navigation>
<!-- !PAGE CONTENT! -->
<div>
	<div class="addlocation">
		<form class="">
			<h1 class="formTitle">LET ADD A FANTASTING PLACE</h1>
			<div class="form-group">
				<label class="">Location Name</label>
				<input ng-model="vm.formData.name" class="inputForm" type="text" placeholder="Location name ...">
			</div>

			<div class="form-group">
				<label class="">Location Type</label>
				<select ng-model="vm.formData.type">
		        <option value="study">STUDY</option>
		        <option value="work">WORK</option>
		        <option value="dating">DATING</option>
      	</select>
			</div>

			<div class="form-group">
				<label class="">Address</label>
				<input ng-model="vm.formData.address" class="inputForm" type="text"placeholder="Address ...">
			</div>

			<div class="form-group">
				<label class="">Rating</label>
				<select ng-model="vm.formData.rating">
		            <option value=1>1</option>
		            <option value=2>2</option>
		            <option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
      			</select>
			</div>

			<div class="form-group">
				<label class="">Coordinates</label>
				<div class="coordinates">
					<input ng-model="vm.formData.longitude" class="inputnumber" type="number" placeholder="Longtitude ...">
					<input ng-model="vm.formData.latitude" class="inputnumber" type="number" placeholder="Latitude ...">
				</div>
			</div>


			<div class="form-group">
				<div><label class="">Keywords<br></label></div>
				<div class="w3-quarter">
					<label><input type="checkbox" ng-model="vm.formData.checkboxFood"> Food<br></label><br>
					<label><input type="checkbox" ng-model="vm.formData.checkboxSilence"> Silence<br></label>
				</div>
				<div class="w3-quarter">
					<label><input type="checkbox" ng-model="vm.formData.checkboxWifi"> Wifi</label><br>
					<label><input type="checkbox" ng-model="vm.formData.checkboxOutdoor"> Outdoor<br></label>
				</div>
				<div class="w3-quarter">
					<label><input type="checkbox" ng-model="vm.formData.checkboxDrink"> Drinks</label><br>
					<label><input type="checkbox" ng-model="vm.formData.checkboxGaming"> Game<br></label>
				</div>
				<div class="w3-quarter">
					<label><input type="checkbox" ng-model="vm.formData.checkboxOvernight"> Overnight</label><br>
					<label><input type="checkbox" ng-model="vm.formData.checkboxPower"> Power<br></label>
				</div>
			</div>

			<div class="form-group">
				<label class="">Discount</label>
				<input ng-model="vm.formData.discount" class="inputForm" type="text" placeholder="Discount ...">
			</div>

			<div class="form-group">
				<label class="">Image Link</label>
				<input ng-model="vm.formData.imageLink" class="inputForm" type="text" placeholder="Image link ...">
			</div>

			<div class="form-group">
				<label class="">Opening Time</label>
				<div ng-repeat="openingTime in vm.openingTimes">
					<label><input type="checkbox" ng-model="openingTime.state"> Is open?</label>
					<input ng-model="openingTime.day" class="inputForm" type="text" placeholder="Day ...">
					<input ng-model="openingTime.open" class="inputForm" type="text" placeholder="Opening time ...">
					<input ng-model="openingTime.close" class="inputForm" type="text" placeholder="Closing time ...">
				</div>
				<div><button ng-click="vm.pushDefaultOpeningTime()" class="btn btn-success">Add opening time</button></div>
			</div>

			<div class="submit">
				<input type="submit" value="Add location" ng-click="vm.onSubmit()">
			</div>
		</form>
	</div>
</div>
