<div>
	<navigation></navigation>
</div>
<!-- !PAGE CONTENT! -->
<div ng-controller="locationDetailCtrl">
	<div class="addlocation">
		<form class="form-horizontal">
			<h1 class="formTitle">LET ADD A FANTASTING PLACE</h1>
			<div class="form-group">
				<label class="control-label">Location Name</label>
				<div class="">
					<input class="inputForm" type="text" name="" placeholder="Location name ...">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Location Type</label>
				<div class="">
					<select id="type" name="type" class="">
            <option value="study">STUDY</option>
            <option value="word">WORK</option>
            <option value="dating">DATING</option>
          </select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Address</label>
				<div class="">
					<input class="inputForm" type="text" name="" placeholder="Address ...">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Rating</label>
				<div class="">
						<input class="inputnumber" type="number" name="" placeholder="Rating ..."><br>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Coordinates</label>
				<div class="coordinates">
					<input class="inputnumber" type="number" name="" placeholder="Longtitude ...">
					<input class="inputnumber" type="number" name="" placeholder="Latitude ...">
				</div>
			</div>


			<div class="form-group">
				<label class="control-label">Keywords</label>
			</div>
			<div class="">
				<div class="w3-quarter">
					<input class="" type="checkbox" name="">Food<br>
					<input class="" type="checkbox" name="">Silence<br>
				</div>
				<div class="w3-quarter">
					<input class="" type="checkbox" name="">Premium Wifi<br>
					<input class="" type="checkbox" name="">Outdoor<br>
				</div>
				<div class="w3-quarter">
					<input class="" type="checkbox" name="">Drinks<br>
					<input class="" type="checkbox" name="">Gaming Room<br>
				</div>
				<div class="w3-quarter">
					<input class="" type="checkbox" name="">Overnight<br>
					<input class="" type="checkbox" name="">Power<br>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Discount</label>
				<div>
					<input class="inputForm" type="text" name="" placeholder="Discount ...">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Opening Time</label>
				<div>
					<input class="inputForm" type="text" name="" placeholder="Time ...">
				</div>
			</div>

			<div class="submit">
				<input type="submit" value="SUBMIT">
			</div>
		</form>
	</div>
</div>
<myfooter></myfooter>