<navigation></navigation>

<div class="main light-grey-background">
    <div class="welcome">
        <h1 class="welcome-text">Find your place</h1><br/>
        <div class="search-place">
            <img src="images/search.png" class="search-icon" />
            <input type="text" class="input-search-place" ng-change="vm.query()" ng-model="vm.searchText"/>
            <div ng-repeat="location in vm.searchLocations">
              <a href="{{ '/location/' + location.id }}" class="search-results anchor-no-underline">
                <div class="search-result-name">{{ location.name }}</div>
                <p class="rating" style="padding-right: 25px;" rating-stars rating="location.rating"></p>
              </a>
            </div>
        </div>
    </div>

    <!-- First Photo Grid-->
    <h1 class="w3-center w3-padding">Pick a place for today</h1><br/>
    <div class="w3-row-padding">
        <div class="w3-third w3-container w3-margin-bottom">
            <a class="anchor-no-underline" href="locations/type/study">
                <img src="/images/study.jpg" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                  <p class="description-type"><b>Places for study</b></p>
                  <p>You want a perfect place to focus and do your homework and self-learning?</p>
                </div>
            </a>
        </div>
        <div class="w3-third w3-container w3-margin-bottom">
            <a class="anchor-no-underline" href="locations/type/work">
                <img src="/images/work.jpg" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                  <p class="description-type"><b>Places for teamwork</b></p>
                  <p>You want a perfect place for your team to meet and discuss new ideas and plans?</p>
                </div>
             </a>
        </div>
        <div class="w3-third w3-container">
            <a class="anchor-no-underline" href="locations/type/dating">
                <img src="/images/dating.jpg" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                  <p class="description-type"><b>Place for dating</b></p>
                  <p>You want a perfect place to meet "The One" and have wonderful time together?</p>
                </div>
             </a>
        </div>
    </div>
</div>
<myfooter></myfooter>
