<!-- Sidebar/menu -->
<navigation></navigation>
<!-- !PAGE CONTENT! -->
<div class="main container" ng-controller="locationDetailCtrl">
    <div>
        <div style="display: flex; align-items: center">
          <div class="name-location-detail">{{ vm.data.name }}

          </div>
          <span class="distance-badge-detail">{{(vm.data.distance) ? vm.data.distance : "..."}}</span>
        </div>
        <p class="rating" rating-stars rating="vm.data.rating"></p>
        <p>{{ vm.data.address }}</p>
    </div>
    <div style="margin-bottom: 20px">
        <span ng-repeat="keyword in vm.data.keywords">
            <a href="/tags/{{keyword.toLowerCase()}}" class="anchor-no-underline w3-tag w3-teal"> {{keyword}} </a>
        </span>
    </div>
    <div style="display: flex">
        <div class="image-wrapper">
            <img src={{vm.data.avatar}} class="location-image">
        </div>
        <div class="panel panel-primary opening-times">
            <div class="panel-heading">
                <h2 class="panel-title">Opening Hours</h2>
            </div>
            <div class="panel-body map-detail" style="padding: 8px 12px 8px 12px">
                <div class="opening_time" ng-repeat="ot in vm.data.opening_times">
                    <span style="font-weight: 600">{{ot.day + ": "}}</span>
                    <span ng-if="ot.state == true">
                        <span>{{ot.open + " - "}}</span>
                    <span>{{ot.close}}</span>
                    </span>
                    <span ng-if="ot.state == false">closed</span>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" style="margin-left: 48px; min-width: 264px">
            <div class="panel-heading">
                <h2 class="panel-title">Location Map</h2>
            </div>
            <div class="panel-body map-detail">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{vm.data.latitude}},{{vm.data.longitude}}&amp;zoom=16&amp;size=320x264&amp;key=AIzaSyDLEOFJFXIfNdKYkeNoRkdY2ZD5Ex_gpVA" />
            </div>
        </div>
    </div>
    <br>
    <div class="reviewArea">
        <div class="panel panel-primary review-panel">
            <div class="panel-heading">
                <a ng-hide="vm.isLoggedIn" class="btn btn-default pull-right" href="/login/?page={{ navvm.currentPath }}">Login to add review</a>
                <a ng-show="vm.isLoggedIn" data-toggle="modal" data-target="#reviewModal" ng-click="vm.showModal()" class="btn btn-default pull-right">Add review</a>
                <h2 class="panel-title">Customer reviews</h2>
            </div>
            <div class="panel-body review-container">
                <div class="row">
                    <div ng-repeat="review in vm.reviews">
                        <div class="review">
                            <span class="reviewAuthor">{{ review.name }}</span>
                            <span class="rating" rating-stars rating="review.rating"></span>
                            <small class="reviewTimestamp">{{ review.created_time | date : 'd MMMM yyyy' }}</small>
                            <p class="p-no-margin">{{ review.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reviewModal" data-backdrop="static" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: #44A516">Add review for {{vm.data.name}}</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div class="modal-body">
                        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                        <div class="form-group">
                            <label for="rating" class="col-xs-10 col-sm-2 control-label">Rating</label>
                            <div class="col-xs-12 col-sm-2">
                                <select ng-model="vm.formData.rating" class="form-control input-sm">
              						<option>5</option>
              						<option>4</option>
              						<option>3</option>
              						<option>2</option>
              						<option>1</option>
              					</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review" class="col-sm-2 control-label">Review</label>
                            <div class="col-sm-10">
                                <textarea id="review" name="review" rows="5" required="required" ng-model="vm.formData.reviewText" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="vm.addReview()" type="button" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<myfooter></myfooter>
