<!-- Sidebar/menu -->
<navigation></navigation>
<!-- !PAGE CONTENT! -->
<div class="main container" ng-controller="locationDetailCtrl">
  <div class="w3-row-padding">
    <h2 class="w3-padding-small" style="margin-bottom:-20px; text-decoration-line:underline;">{{ data.name }}</h2><br>
    <p class="rating w3-padding-small" rating-stars rating="data.location.rating"></p>
    <p class="w3-padding-small" style="margin-bottom:0px">{{ data1 }}</p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-padding-small">
      <a href="" ng-repeat="location in data.locations">
        <span class="w3-tag w3-grey w3-small w3-margin-bottom"> {{data.keywords[1]}} </span>
      </a>
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-padding-small w3-third">
      <img src="http://lorempixel.com/300/300/" class="w3-round w3-image">
    </div>
    <div class="w3-padding-small w3-twothird">
      <div class="w3-row">
        <div class="w3-half w3-padding-small">
          <div class="w3-card-4" style="width:100%;">
            <header class="w3-container w3-blue">
              <h5>Opening Hours</h5>
            </header>
            <div class="w3-container">
              <p>Hour</p>
            </div>
          </div>
        </div>
        <div class="w3-half w3-padding-small">
          <div class="w3-card-4" style="width:100%;">
            <header class="w3-container w3-blue">
              <h5>Keywords</h5>
            </header>
            <div class="w3-container">
              <p>Some keywords</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="reviewArea">
    <div class="col-xs-12">
      <div class="panel panel-primary review-panel">
        <div class="panel-heading">
          <a class="btn btn-default pull-right">Login to add review</a>
          <h2 class="panel-title">Customer reviews</h2>
        </div>
        <div class="panel-body review-container">
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<myfooter></myfooter>
