<!-- Sidebar/menu -->
<navigation></navigation>
<!-- !PAGE CONTENT! -->
<div class="container main">
  <h2 class="formTitle">Login to Locator App</h2>
  <form class="signup-form" ng-submit="vm.onSubmit()">
      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
      <div class="input-area">
        <label>Email</label><br>
        <input class="authen-input" type="email" placeholder="Enter email" ng-model="vm.email" required><br>
      </div>
      <div class="input-area">
        <label>Password</label><br>
        <input class="authen-input" type="password" placeholder="Enter password" ng-model="vm.password" required><br>
      </div>
      <div class="submit">
          <input type="submit" value="Login" ng-click="vm.onSubmit()">
      </div>
  </form>
</div>
<myfooter></myfooter>