<!-- Sidebar/menu -->
<navigation></navigation>
<!-- !PAGE CONTENT! -->
<div class="main container" ng-controller="datingCtrl">
  <h2>Sign up to Locator App</h2>
  <form>
    <div class="input-area">
      <label>Name</label><br>
      <input type="text" placeholder="Enter name" required><br>

      <label>Email</label><br>
      <input type="email" placeholder="Enter email" required><br>

      <label>Password</label><br>
      <input type="password" placeholder="Enter password" required><br>

      <label>Re-enter your Password</label><br>
      <input type="password" placeholder="Re-enter password" required><br>
      <p>By creating an account you are making the world a better place.</p>
    </div>
  </form>
</div>
<myfooter></myfooter>