<!-- Sidebar/menu -->
<navigation></navigation>
<!-- !PAGE CONTENT! -->
<div class="container main" ng-controller="userInfoCtrl">
  <h2 class="formTitle">Your Personal Information</h2>
  <form class="signup-form">
      <div class="input-area">
        <label>Name</label><br>
        <input class="authen-input" value="{{vm.userInfo.name}}" required><br>
      </div>
      <div class="input-area">
        <label>Email</label><br>
        <input class="authen-input" value="{{vm.userInfo.email}}"  required><br>
      </div>
  </form>
</div>
