<!-- Sidebar/menu -->
<navigation></navigation>
<!-- !PAGE CONTENT! -->
<div class="main container" ng-controller="workCtrl">
	<!-- First Photo Grid-->
	<div class="w3-row-padding">
		<h1 class="w3-center w3-padding">Pick a place to work</h1>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6" ng-repeat="location in locations">
			<div class="thumbnail">
				<a href="/location/{{ location.id }}">
          <img src="images/work.jpg" alt="Lights" style="width:100%">
            <div class="w3-container undertext">
              <h5 class="location-name">{{location.name}}</h5>
              <p class="rating">Rating: {{location.rating}}</p>
							<p>{{location.address}}</p>
							<p ng-repeat="key in location.keywords">{{key}}</p>
            </div>
          </a>
			</div>
		</div>
	</div>
</div>
<myfooter></myfooter>