@import url("addLocation.css");
@import url("auth.css");
@import url("home.css");
@import url("locationDetail.css");
@import url("locationType.css");
@import url("navigation.css");

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}
.name {
	padding: 0px 0px 0px 0px;
	color: #0E4D81;
}
.main {
	margin-top: 66px;
	padding-bottom: 20px;
	min-height: calc(100vh - 262px);
}
.light-grey-background {
	background-color: #efefef;
}
.white-background {
	background-color: white;
}
label {
  font-weight: bold;
  font-family: Calibri;
  font-size: 20px;
  text-align: left;
  line-height: 100%;
}
.formTitle {
  text-align: center;
  font-weight: bold;
  font-family: "Lato","Helvetica Neue", Helvetica;
  font-size: 30px;
  font-weight: 900;
  line-height: 150%;
}
.form-group {
  align-content: center;
}
.about-title {
	padding-top: 30px;
	padding-bottom: 30px;
}
.anchor-no-underline:hover {
	text-decoration: none;
}
textarea {
	resize: none;
}
