.welcome {
	min-height: 600px;
	background: url('/images/homepage.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	padding-top: 180px;
}

.search-place {
	display: inline-block;
	background-color: white;
	border-radius: 5px;
	width: 500px;
	opacity: 0.8	;
}

.search-icon {
	width: 27px;
	height: 27px;
	float: left;
	margin: 12px 8px 0 8px;
}

.input-search-place {
	border: none;
	font-size: 24px;
	overflow: hidden;
	padding: 7px;
	flex: 2;
	width: 425px;
	margin-right: 12px;
}

.input-search-place:focus {
	outline: none;
}

.welcome-text {
	color: white;
	font-weight: 600;
	font-size: 45px;
	font-family: cursive;
}
.description-type {
	padding-top: 12px;
	font-size: 20px;
}
