.welcome {
	min-height: 640px;
	background: url('/images/homepage.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	padding-top: 123px;
}

.search-place {
	display: inline-block;
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	width: 500px;
	opacity: 0.8	;
}

.search-icon {
	width: 27px;
	height: 27px;
	float: left;
	margin: 12px 8px 0 8px;
}

.input-search-place {
	border: none;
	font-size: 24px;
	overflow: hidden;
	padding: 7px;
	flex: 2;
	width: 425px;
	margin-right: 12px;
	background: transparent;
}

.input-search-place:focus {
	outline: none;
}

.welcome-text {
	color: white;
	font-size: 45px;
	font-family: 'Poiret One', cursive;
}
.description-type {
	padding-top: 12px;
	font-size: 20px;
}
.search-results {
	border-top: 1px solid #acacac;
	text-align: left;
	display: flex;
	align-items: center;
}
.search-results:hover {
	background-color: #bebebe;
}
.search-result-name {
	padding: 10px 25px;
	font-size: 20px;
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.intro-item {
	height: 155px;
	background: rgba(255,255,255,0.2);
	border-radius: 6px;
	width: 30%;
	float: left;
	flex: 0.34;
	margin-right: 26px;
	display: flex;
	align-items: center;
}
.intro-text {
	color: white;
	font-size: 16px;
	padding: 24px;
}
.intro-text:hover {
	color: orange;
	text-decoration: none;
}
.intro-title {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 8px;
}
