.image-wrapper {
	overflow: hidden;
	width: 300px!important;
	height: 300px!important;
	position: relative;
	margin-right: 24px;
}
.opening-times {
	width: 400px;
	height: 200px;
}
.location-image {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
.name-location-detail {
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 2px;
}
.opening_time {
	padding: 4px 0;
}
.reviewAuthor {
	font-weight: 600;
	margin-right: 8px;
}
.reviewTimestamp {
	float: right;
}
.review {
	padding: 8px 15px;
	border-bottom: 1px solid #bcbcbc;
}
.p-no-margin {
	margin: 0;
}
.review-container {
	padding: 0 15px;
}
