.image-wrapper {
	overflow: hidden;
	width: 300px!important;
	height: 300px!important;
	position: relative;
	margin-right: 16px;
}
.opening-times {
	width: 300px;
	height: 200px;
	margin-right: 16px;
}
.location-image {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
.name-location-detail {
	font-weight: 600;
	padding-top: 12px;
	margin-bottom: 2px;
	font-size: 22px;
}
.opening_time {
	padding: 4px 0;
}
.reviewAuthor {
	font-weight: 600;
	margin-right: 8px;
}
.reviewTimestamp {
	float: right;
}
.review {
	padding: 8px 15px;
	border-bottom: 1px solid #bcbcbc;
}
.p-no-margin {
	margin: 0;
}
.review-container {
	padding: 0 15px;
}
.map-detail {
	overflow: hidden;
	padding: 0px;
}
.distance-badge-detail {
	background-color: #607D8B;
	border-radius: 5px;
	padding: 3px 10px;
	font-size: 15px;
	color: white;
	font-weight: 600;
	margin-left: 16px;
	margin-top: 10px;
}
